<%= form_for(@plant_physical_structure) do |f| %>
  <% if @plant_physical_structure.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@plant_physical_structure.errors.count, "error") %> prohibited this plant_physical_structure from being saved:</h2>

      <ul>
      <% @plant_physical_structure.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :plant_id %><br>
    <%= f.text_field :plant_id %>
  </div>
  <div class="field">
    <%= f.label :physical_structure_id %><br>
    <%= f.number_field :physical_structure_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
