<%= form_for(@leaf_color) do |f| %>
  <% if @leaf_color.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@leaf_color.errors.count, "error") %> prohibited this leaf_color from being saved:</h2>

      <ul>
      <% @leaf_color.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :avatar %><br>
    <%= f.file_field :avatar %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
