<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @leaf_color.name %>
</p>

<p>
  <strong>Avatar:</strong>
  <%= @leaf_color.avatar %>
</p>

<%= link_to 'Edit', edit_leaf_color_path(@leaf_color) %> |
<%= link_to 'Back', leaf_colors_path %>
