<title>حساب کاربری <%= @profile.last_name %></title>

<!--main-->
<main class="main" role="main">
  <!--wrap-->
  <div class="wrap clearfix">

    <!--breadcrumbs-->
    <nav class="breadcrumbs">
      <ul>
        <!-- <li class="pull-right">حساب کاربری من</li> -->
      </ul>
    </nav>

    <!--//breadcrumbs-->

    <!--content-->
    <section class="content">
      <!--row-->
      <div class="row">
        <!--profile left part-->
        <div class="my_account one-fourth wow fadeInLeft animated" style="visibility: visible;">
          <!--</br>-->
          <!--<div class="search-div">-->
            <!--<%=form_tag({controller: "initial" , action: "do_search" },:format => "js",method: "get" , id:"main_search") do %>-->
                <!--<%= text_field_tag :query,nil,placeholder:"جستجوی همه چیز",:style =>"text-align: center; " , autocomplete: :off %>-->
                <!--</br></br>-->
            <!--<%end%>-->
            <!--<ul id="result" class="mylist">-->
            <!--</ul>-->
          <!--</div>-->
          <figure class="">
            <% if @profile.profile_photo.present? %>
                <div class="">
                <%=image_tag @profile.profile_photo_url , :class=>"stretch_img"%>
                </div>
            <%else %>
                <%=image_tag "gardener.png" , :class=>"stretch_img default_profile_pic"%>
            <%end%>
          </figure>
          <div class="container make_center">
            <% if can_edit %>
                <%= link_to 'تنظیمات حساب', edit_profile_path(@profile), :class=>"b_farsi "%> |
                <%= link_to 'خروج از حساب' , destroy_user_session_path ,:method => :delete%>
            <% end %>
          </div>

          <!-- <div class="container make_center">
            <h2><%= @profile.first_name%></h2>
            <% if can_edit %>
                <%= link_to "ساخت باغچه", new_garden_path , :class => "button btn" %>
                <%= link_to "اضافه کردن گل جدید", new_plant_path , :class => "button btn" %>
            <% end %>
            </br>
            </br>
          </div> -->

          <div class="container">
                <%= link_to "همه گیاهان" , plants_path , :class => "btn btn-block btn-green" %>
            </br>
          </div>

          <div class="container make_center">
            <div style="direction: rtl;">
              <%=link_to "سوال، مطلب یا نکته ای بنویسید .." , new_post_path, :class=>"btn btn-warning btn-block"%>
            <br><small>
              اگر سوالی در مورد نگهداری گیاه خود دارید می توانید آنرا در باغ گل گیاه مطرح کنید،
و پاسخ خود را بیابید
            </small>
            </div>
            </br>
          </div>
        </div>
        <!--//profile left part-->

        <div class="three-fourth wow fadeInRight animated" style="visibility: visible;">
          <nav class="tabs">
            <ul>
              <li class="" style="direction: rtl;">
                <%if current_user==@profile.user%>
                    <%= link_to raw('اطلاعات من'), about_me_profile_path(@profile), :class => 'make_bold', :remote => true, :title => 'about_me', :id => "about_me2" %>
                <% else %>
                    <%= link_to raw("اطلاعات #{@profile.first_name}"), about_me_profile_path(@profile), :class => 'make_bold', :remote => true, :title => 'about_me', :id => "about_me2" %>
                <% end %>
              </li>
              <li class="">
                <% if current_user == @profile.user %>
                    <%= link_to raw('گل های من'), my_gardens_profile_path(current_user.profile), :class => 'make_bold', :remote => true, :title => 'my gardens', :id => "gardens" %>
                <% else %>
                    <%= link_to raw('گل های او'), my_gardens_profile_path(@profile), :class => 'make_bold', :remote => true, :title => 'my gardens', :id => "gardens" %>
                <% end %>
              </li>
              <!--<li class="">-->
                <!--<% if current_user == @profile.user %>-->
                    <!--<%= link_to raw('گل ُگرافی'), my_devices_profile_path(@profile.user), :class => 'make_bold', :remote => true, :title => 'my flowers', :id => "flowers" %>-->
                <!--<% else %>-->
                    <!--<%= link_to raw('گل ُگرافی'), my_devices_profile_path(@profile.user), :class => 'make_bold', :remote => true, :title => 'my flowers', :id => "flowers" %>-->
                <!--<% end %>-->
              <!--</li>-->

              <!--<li class="">-->
                <!--<%= link_to raw('حساب ها'), my_accounts_profile_path(current_user), :class => 'make_bold', :remote => true, :title => 'my posts', :id => "posts" %>-->
                <!--&lt;!&ndash; <a href="http://www.themeenergy.com/themes/html/social-chef/my_profile.html#favorites" title="My favorites">My favorites &ndash;&gt;-->
                <!--&lt;!&ndash; </a> &ndash;&gt;-->
              <!--</li>-->
            </ul>
          </nav>

          <!--about-->
          <!-- <div class="tab-content" id="about_me">

          </div>
           -->


          <div class="tab-content" id="about" style="display: block; direction: rtl;">
            <div class="row">
              <dl class="basic two-third">
                <dt style="text-align:center">
                  <span>نام</span>
                </dt>
                <dd ><%= @profile.first_name%></dd>
                <dt style="text-align:center" > <span>
                  نام خانوادگی
                </span>
                </dt>
                <dd><%= @profile.last_name%></dd>
                <dt class="make_center">
                  تعداد سوالات پرسیده
                </dt>
                <dd><%= @profile.user.posts.count %></dd>
                <dt class="make_center">
                  تعداد پاسخ ها و نظرات
                </dt>
                <dd><%= @profile.user.comments.count %></dd>
                <!-- <dt class="make_center">رتبه بین کاربران</dt>
                <dd>
                  ۰</dd> -->
                <dt class="make_center">
                  گجت های فعال 
                </dt>
                <dd>
                    ...
                </dd>
                <dt class="make_center">
                  گل هایی که دارد
                 </dt>
                <dd>
                  <%= @profile.user.following_by_type('Plant').count %>
                </dd>
              </dl>
              <div class="one-third">
                <ul class="boxed gold">
                  <li class="light">
                    <%= link_to "" do %>
                        <i class="ico i-simpleflower"></i>
                    <span>
                      گیاه جدید من
                    </span>
                    <% end %>
                  </li>
                  <li class="medium">
                    <%= link_to "" do %>
                        <i class="ico i-watering"></i>
                        <span>آب دهی</span>
                    <% end %>
                  </li>
                  <li class="dark">
                    <%= link_to "#" do %>
                        <i class="ico i-flower_in_pot"></i>
                        <span>
                          گل بکار
                        </span>

                    <% end %>
                  </li>
                  <li class="medium">
                    <%= link_to "#" do %>
                        <i class="ico i-ghonche"></i>
                        <span>غنچه نو</span>
                    <% end %>
                  </li>
                  <li class="dark">
                    <%= link_to "#" do %>
                        <i class="ico i-sunning"></i>
                        <span>نور مناسب</span>
                    <% end %>
                  </li>
                  <li class="light">
                    <%=link_to "#" do %>
                        <i class="ico i-bill"></i>
                        <span>
                          نحوه بیل زدن
                        </span>
                    <% end %>
                  </li>
                  <li class="dark">
                    <%= link_to "#" do %>
                        <i class="ico i-gheichi"></i>
                        <span>
                        نحوه هرس کردن
                        </span>
                    <% end %>
                  </li>
                  <li class="light">
                    <%= link_to "#" do %>
                        <i class="ico i-shared_recipe"></i>
                        <span>تجربه خاصی داری؟</span>
                    <% end %>
                  </li>
                  <li class="medium">
                    <%= link_to "#" do %>
                        <i class="ico i-satle_ab"></i> <span>لوازم جانبی</span>
                    <% end %>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!--//about-->
          <div class="tab-content" id="my_devices" >
          </div>

          <div class="tab-content" id="about_me" >
          </div>

          <div class="tab-content" id="my_gardens" style="display: block;" >
          </div>

          <div class="tab-content" id="my_accounts" >
          </div>
          <!--my recipes-->
          <!--<div class="tab-content" id="recipes" style="display: none;">-->
          <!--<div class="entries row">-->
          <!--&lt;!&ndash;item&ndash;&gt;-->
          <!--<div class="entry one-third">-->
          <!--<figure>-->
          <!--<img src="./SocialChef_files/img6.jpg" alt="">-->
          <!--<figcaption><a href="http://www.themeenergy.com/themes/html/social-chef/recipe.html"><i class="ico i-view"></i> <span>View recipe</span></a></figcaption>-->
          <!--</figure>-->
          <!--<div class="container">-->
          <!--<h2><a href="http://www.themeenergy.com/themes/html/social-chef/recipe.html">Thai fried rice with fruit and vegetables</a></h2>-->
          <!--<div class="actions">-->
          <!--<div>-->
          <!--<div class="difficulty"><i class="ico i-medium"></i><a href="http://www.themeenergy.com/themes/html/social-chef/my_profile.html#">medium</a></div>-->
          <!--<div class="likes"><i class="ico i-likes"></i><a href="http://www.themeenergy.com/themes/html/social-chef/my_profile.html#">10</a></div>-->
          <!--<div class="comments"><i class="ico i-comments"></i><a href="http://www.themeenergy.com/themes/html/social-chef/recipe.html#comments">27</a></div>-->
          <!--</div>-->
          <!--</div>-->
          <!--</div>-->
          <!--</div>-->
          <!--&lt;!&ndash;item&ndash;&gt;-->

          <!--&lt;!&ndash;item&ndash;&gt;-->
          <!--<div class="entry one-third">-->
          <!--<figure>-->
          <!--<img src="./SocialChef_files/img5.jpg" alt="">-->
          <!--<figcaption><a href="http://www.themeenergy.com/themes/html/social-chef/recipe.html"><i class="ico i-view"></i> <span>View recipe</span></a></figcaption>-->
          <!--</figure>-->
          <!--<div class="container">-->
          <!--<h2><a href="http://www.themeenergy.com/themes/html/social-chef/recipe.html">Spicy Morroccan prawns with cherry tomatoes</a></h2>-->
          <!--<div class="actions">-->
          <!--<div>-->
          <!--<div class="difficulty"><i class="ico i-hard"></i><a href="http://www.themeenergy.com/themes/html/social-chef/my_profile.html#">hard</a></div>-->
          <!--<div class="likes"><i class="ico i-likes"></i><a href="http://www.themeenergy.com/themes/html/social-chef/my_profile.html#">10</a></div>-->
          <!--<div class="comments"><i class="ico i-comments"></i><a href="http://www.themeenergy.com/themes/html/social-chef/recipe.html#comments">27</a></div>-->
          <!--</div>-->
          <!--</div>-->
          <!--</div>-->
          <!--</div>-->
          <!--&lt;!&ndash;item&ndash;&gt;-->

          <!--&lt;!&ndash;item&ndash;&gt;-->
          <!--<div class="entry one-third">-->
          <!--<figure>-->
          <!--<img src="./SocialChef_files/img8.jpg" alt="">-->
          <!--<figcaption><a href="http://www.themeenergy.com/themes/html/social-chef/recipe.html"><i class="ico i-view"></i> <span>View recipe</span></a></figcaption>-->
          <!--</figure>-->
          <!--<div class="container">-->
          <!--<h2><a href="http://www.themeenergy.com/themes/html/social-chef/recipe.html">Super easy blueberry cheesecake</a></h2>-->
          <!--<div class="actions">-->
          <!--<div>-->
          <!--<div class="difficulty"><i class="ico i-easy"></i><a href="http://www.themeenergy.com/themes/html/social-chef/my_profile.html#">easy</a></div>-->
          <!--<div class="likes"><i class="ico i-likes"></i><a href="http://www.themeenergy.com/themes/html/social-chef/my_profile.html#">10</a></div>-->
          <!--<div class="comments"><i class="ico i-comments"></i><a href="http://www.themeenergy.com/themes/html/social-chef/recipe.html#comments">27</a></div>-->
          <!--</div>-->
          <!--</div>-->
          <!--</div>-->
          <!--</div>-->
          <!--&lt;!&ndash;item&ndash;&gt;-->
          <!--</div>-->
          <!--</div>-->
          <!--//my recipes-->

          <!--my favorites-->
          <!--<div class="tab-content" id="favorites" style="display: none;">-->
          <!--<div class="entries row">-->
          <!--&lt;!&ndash;item&ndash;&gt;-->
          <!--<div class="entry one-third">-->
          <!--<figure>-->
          <!--<img src="./SocialChef_files/img6.jpg" alt="">-->
          <!--<figcaption><a href="http://www.themeenergy.com/themes/html/social-chef/recipe.html"><i class="ico i-view"></i> <span>View recipe</span></a></figcaption>-->
          <!--</figure>-->
          <!--<div class="container">-->
          <!--<h2><a href="http://www.themeenergy.com/themes/html/social-chef/recipe.html">Thai fried rice with fruit and vegetables</a></h2>-->
          <!--<div class="actions">-->
          <!--<div>-->
          <!--<div class="difficulty"><i class="ico i-medium"></i><a href="http://www.themeenergy.com/themes/html/social-chef/my_profile.html#">medium</a></div>-->
          <!--<div class="likes"><i class="ico i-likes"></i><a href="http://www.themeenergy.com/themes/html/social-chef/my_profile.html#">10</a></div>-->
          <!--<div class="comments"><i class="ico i-comments"></i><a href="http://www.themeenergy.com/themes/html/social-chef/recipe.html#comments">27</a></div>-->
          <!--</div>-->
          <!--</div>-->
          <!--</div>-->
          <!--</div>-->
          <!--&lt;!&ndash;item&ndash;&gt;-->

          <!--&lt;!&ndash;item&ndash;&gt;-->
          <!--<div class="entry one-third">-->
          <!--<figure>-->
          <!--<img src="./SocialChef_files/img5.jpg" alt="">-->
          <!--<figcaption><a href="http://www.themeenergy.com/themes/html/social-chef/recipe.html"><i class="ico i-view"></i> <span>View recipe</span></a></figcaption>-->
          <!--</figure>-->
          <!--<div class="container">-->
          <!--<h2><a href="http://www.themeenergy.com/themes/html/social-chef/recipe.html">Spicy Morroccan prawns with cherry tomatoes</a></h2>-->
          <!--<div class="actions">-->
          <!--<div>-->
          <!--<div class="difficulty"><i class="ico i-hard"></i><a href="http://www.themeenergy.com/themes/html/social-chef/my_profile.html#">hard</a></div>-->
          <!--<div class="likes"><i class="ico i-likes"></i><a href="http://www.themeenergy.com/themes/html/social-chef/my_profile.html#">10</a></div>-->
          <!--<div class="comments"><i class="ico i-comments"></i><a href="http://www.themeenergy.com/themes/html/social-chef/recipe.html#comments">27</a></div>-->
          <!--</div>-->
          <!--</div>-->
          <!--</div>-->
          <!--</div>-->
          <!--&lt;!&ndash;item&ndash;&gt;-->

          <!--&lt;!&ndash;item&ndash;&gt;-->
          <!--<div class="entry one-third">-->
          <!--<figure>-->
          <!--<img src="./SocialChef_files/img8.jpg" alt="">-->
          <!--<figcaption><a href="http://www.themeenergy.com/themes/html/social-chef/recipe.html"><i class="ico i-view"></i> <span>View recipe</span></a></figcaption>-->
          <!--</figure>-->
          <!--<div class="container">-->
          <!--<h2><a href="http://www.themeenergy.com/themes/html/social-chef/recipe.html">Super easy blueberry cheesecake</a></h2>-->
          <!--<div class="actions">-->
          <!--<div>-->
          <!--<div class="difficulty"><i class="ico i-easy"></i><a href="http://www.themeenergy.com/themes/html/social-chef/my_profile.html#">easy</a></div>-->
          <!--<div class="likes"><i class="ico i-likes"></i><a href="http://www.themeenergy.com/themes/html/social-chef/my_profile.html#">10</a></div>-->
          <!--<div class="comments"><i class="ico i-comments"></i><a href="http://www.themeenergy.com/themes/html/social-chef/recipe.html#comments">27</a></div>-->
          <!--</div>-->
          <!--</div>-->
          <!--</div>-->
          <!--</div>-->
          <!--&lt;!&ndash;item&ndash;&gt;-->
          <!--</div>-->
          <!--</div>-->
          <!--//my favorites-->

          <!--my posts-->
          <!--<div class="tab-content" id="posts" style="display: none;">-->
          <!--&lt;!&ndash;entries&ndash;&gt;-->
          <!--<div class="entries row">-->
          <!--&lt;!&ndash;item&ndash;&gt;-->
          <!--<div class="entry one-third">-->
          <!--<figure>-->
          <!--<img src="./SocialChef_files/img12.jpg" alt="">-->
          <!--<figcaption><a href="http://www.themeenergy.com/themes/html/social-chef/blog_single.html"><i class="ico i-view"></i> <span>View post</span></a></figcaption>-->
          <!--</figure>-->
          <!--<div class="container">-->
          <!--<h2><a href="http://www.themeenergy.com/themes/html/social-chef/blog_single.html">Barbeque party</a></h2>-->
          <!--<div class="actions">-->
          <!--<div>-->
          <!--<div class="date"><i class="ico i-date"></i><a href="http://www.themeenergy.com/themes/html/social-chef/my_profile.html#">22 Dec 2014</a></div>-->
          <!--<div class="comments"><i class="ico i-comments"></i><a href="http://www.themeenergy.com/themes/html/social-chef/blog_single.html#comments">27</a></div>-->
          <!--</div>-->
          <!--</div>-->
          <!--<div class="excerpt">-->
          <!--<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod. Lorem ipsum dolor sit amet . . . </p>-->
          <!--</div>-->
          <!--</div>-->
          <!--</div>-->
          <!--&lt;!&ndash;item&ndash;&gt;-->

          <!--&lt;!&ndash;item&ndash;&gt;-->
          <!--<div class="entry one-third">-->
          <!--<figure>-->
          <!--<img src="./SocialChef_files/img11.jpg" alt="">-->
          <!--<figcaption><a href="http://www.themeenergy.com/themes/html/social-chef/blog_single.html"><i class="ico i-view"></i> <span>View post</span></a></figcaption>-->
          <!--</figure>-->
          <!--<div class="container">-->
          <!--<h2><a href="http://www.themeenergy.com/themes/html/social-chef/blog_single.html">How to make sushi</a></h2>-->
          <!--<div class="actions">-->
          <!--<div>-->
          <!--<div class="date"><i class="ico i-date"></i><a href="http://www.themeenergy.com/themes/html/social-chef/my_profile.html#">22 Dec 2014</a></div>-->
          <!--<div class="comments"><i class="ico i-comments"></i><a href="http://www.themeenergy.com/themes/html/social-chef/blog_single.html#comments">27</a></div>-->
          <!--</div>-->
          <!--</div>-->
          <!--<div class="excerpt">-->
          <!--<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod. Lorem ipsum dolor sit amet . . . </p>-->
          <!--</div>-->
          <!--</div>-->
          <!--</div>-->
          <!--&lt;!&ndash;item&ndash;&gt;-->

          <!--&lt;!&ndash;item&ndash;&gt;-->
          <!--<div class="entry one-third">-->
          <!--<figure>-->
          <!--<img src="./SocialChef_files/img10.jpg" alt="">-->
          <!--<figcaption><a href="http://www.themeenergy.com/themes/html/social-chef/blog_single.html"><i class="ico i-view"></i> <span>View post</span></a></figcaption>-->
          <!--</figure>-->
          <!--<div class="container">-->
          <!--<h2><a href="http://www.themeenergy.com/themes/html/social-chef/blog_single.html">Make your own bread</a></h2>-->
          <!--<div class="actions">-->
          <!--<div>-->
          <!--<div class="date"><i class="ico i-date"></i><a href="http://www.themeenergy.com/themes/html/social-chef/my_profile.html#">22 Dec 2014</a></div>-->
          <!--<div class="comments"><i class="ico i-comments"></i><a href="http://www.themeenergy.com/themes/html/social-chef/blog_single.html#comments">27</a></div>-->
          <!--</div>-->
          <!--</div>-->
          <!--<div class="excerpt">-->
          <!--<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod. Lorem ipsum dolor sit amet . . . </p>-->
          <!--</div>-->
          <!--</div>-->
          <!--</div>-->
          <!--&lt;!&ndash;item&ndash;&gt;-->
          <!--</div>-->
          <!--&lt;!&ndash;//entries&ndash;&gt;-->
          <!--</div>-->
          <!--//my posts-->
        </div>
      </div>
      <!--//row-->
    </section>

    <!--//content-->
  </div>
  <!--//wrap-->
</main>
<!--//main-->

</body>
</html>
