<%= form_for(@nutrition) do |f| %>
  <% if @nutrition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@nutrition.errors.count, "error") %> prohibited this nutrition from being saved:</h2>

      <ul>
      <% @nutrition.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :explain %><br>
    <%= f.text_area :explain %>
  </div>

  <div class="field">
    <%= f.label :avatars %><br>
    <%= f.file_field :avatars, multiple: true %>

  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
