<!DOCTYPE html>
<html>
<!--main-->
<main class="main" role="main">
  <!--intro-->
  <div class="intro">
    <figure class="bg">
      <%#= image_tag "initial_image.jpg" %>
      <style>.h_iframe-aparat_embed_frame{position:relative;} .h_iframe-aparat_embed_frame .ratio {width:100%;height:auto;} .h_iframe-aparat_embed_frame iframe {position:absolute;top:0;left:0;width:100%; height:100%;}</style><div class="h_iframe-aparat_embed_frame"> <span style="display: block;padding-top: 57%"></span><iframe src="https://www.aparat.com/video/video/embed/videohash/6rR7t/vt/frame" allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" ></iframe></div>
    </figure>
    <!--wrap-->
    <div class="wrap clearfix">
      <!--row-->
      <div class="row">
        <!-- <article class="three-fourth text wow zoomIn" data-wow-delay=".2s">
        <h3 style="margin-right:21%;text-align:center; color:#C31108;" dir="rtl">گلوگرام</h3>

        <p class="bold_main make_right main_text main_text_margin" dir="rtl"> تکنولوژی خانگی نگهداری نوین گیاهان </p>

        <p class="make_right main_text main_text_margin" dir="rtl"> ثبت و نمونه برداری شرایط محیطی گیاه من</p>

        <p class="make_right main_text main_text_margin" dir="rtl"> چه زمانی باید گیاه رو آب بدم؟</p>

        <p class="make_right main_text main_text_margin" dir="rtl"> گیاه من چه میزان نور و دمایی رو لازم داره ؟</p>

        <p class="make_right main_text main_text_margin" dir="rtl"> من چه زمانی باید به گیاهم کود بدهم و اون رو هرس کنم؟ </p>

        <a href="users/sign_up" class="button white  medium">
        عضوی از گیاه داران شو
      </a>
    </article> -->
    <!--search recipes widget-->
    <!-- <% if not user_signed_in? %>
    <div class="one-fourth wow fadeInDown pull-right" data-wow-delay=".5s">
    <div class="widget container" style="padding-bottom: 4%">
    <div class="textwrap make_center">
    <h3 class="make_center"> گیاهدار </h3>

    <%= image_tag "glography.jpg"%>
  </div>
  <%= form_for("user", :url => user_session_path) do |f| %>
  <%= f.text_field :email , :placeholder => "ایمیل"  , class: "make_center" %>
</br>
<%= f.password_field :password , :placeholder => "رمز عبور", class: "make_center" %>
</br>
<%= f.submit 'ورود به حساب کاربری', :class=>"b_farsi button sign_in_bt" %>
<% end %>
<br>
<br>
<br>
<%= link_to "رمز عبورم را فراموش کرده ام!",forgot_password_initial_index_path , :class => "btn btn-default btn-sm pull-right"%>

<%= link_to "عضویت" , new_user_registration_path , :class => "btn btn-info btn-sm pull-left" %>

</div>
</br>
<br>
</div>
<% end %> -->
</div>
</div>
</div>

<!--//intro-->



<!--wrap-->
<div class="wrap clearfix">
  <!--row-->
  <div class="row">
    <!--content-->
    <section class="content full-width">
      <div class="icons dynamic-numbers">
        <header class="s-title wow fadeInDown">
          <h2 class="garden_title make_bold">آمار و ارقام</h2>
        </header>

        <!--row-->
        <div class="row wow fadeInUp">
          <!--item-->
          <div class="one-sixth">
            <div class="container">
              <i class="ico i-members"></i>
              <span class="title dynamic-number" data-dnumber="<%=User.all.count%>">0</span>
              <span class="subtitle">گیاهداران</span>
            </div>
          </div>
          <!--//item-->

          <!--item-->
          <div class="one-sixth">
            <div class="container">
              <%= link_to plants_path do %>
              <i class="ico i-plants"></i>
              <span class="title dynamic-number"
              data-dnumber="<%= Plant.all.count %>">0</span>
              <span class="subtitle">گیاهان</span>
              <% end %>
            </div>
          </div>
          <!--//item-->

          <!--item-->
          <div class="one-sixth">
            <div class="container">
              <i class="ico i-photos"></i>
              <span class="title dynamic-number"
              data-dnumber="<%=Shoppe::Product.all.active.count %>">0</span>
              <span class="subtitle">
                محصولات
              </span>
            </div>
          </div>
          <!--//item-->

          <!--item-->
          <div class="one-sixth">
            <div class="container">
              <i class="ico i-posts"></i>
              <span
              class="title dynamic-number"
              data-dnumber="<%=Post.all.count%>">0</span>
              <span class="subtitle">‍‍‍
                سوالات
              </span>
            </div>
          </div>
          <!--//item-->

          <!--item-->
          <div class="one-sixth">
            <div class="container">
              <i class="ico i-comment"></i>
              <span class="title dynamic-number"
              data-dnumber="<%=Comment.all.count%>">0</span>
              <span class="subtitle">نظرات</span>
            </div>
          </div>
          <!--//item-->

          <!--item-->
          <div class="one-sixth">
            <div class="container">
              <i class="ico i-articles"></i>
              <span
              class="title dynamic-number"
              data-dnumber="<%=Shoppe::Order.received.all.count%>">0</span>
              <span class="subtitle">خرید ها</span>
            </div>
          </div>
          <!--//item-->
          <!--
          <div class="cta">
          <a href="login.html" class="button big">Join us!</a>
        </div> -->
      </div>
      <!--//row-->
    </div>
  </section>
  <!--//content-->
  <!--content-->
  <section class="content fullWidth">
    <!--cwrap-->
    <div class="wrap">
      <!--entries-->
      <div class="entries row">
        <!--featured garden-->

        <div class=" one-half wow fadeIn" style="margin-left:22%;">
          <header class="s-title">
            <h2 class="make_center garden_title">
              تکنولوژی گلوگرام             </h2>
            </header>
            <article class="entry">
              <figure>
                <%= image_tag "g1" , :width => "100%" %>
                <figcaption>
                  <%= link_to "https://www.instagram.com/p/BDL7Wuxm2EG" do %>
                  <i class="ico i-view"></i>
                  <span>
                    در اینستاگرام دنبال کنید
                  </span>
                </figcaption>
                <% end %>
              </figure>
              <div class="container">
                <h2 class="make_center">
                  G1
                </h2>
                <p class="make_right">
                  <%= t('home.text1') %>
                </p>
                <p class="make_right">
                  <%= t('home.text2') %>
                </p>
                <p class="make_right ">
                  افرادی که قبل از تجاری شدن محصول عضو گلوگرام باشند
                  در خرید تکنولوژی گلوگرام ۱۰٪ تخفیف خواهند گرفت..
                </p>
                <div class="actions">
                  <br>
                  <%= link_to new_user_registration_path , :class => "btn btn-success btn-block" do%>
                  عضویت
                  <% end %>
                  <br>
                  <br>
                </div>
              </div>
            </article>
          </div>
          <!--//featured garden-->
          <% if @guy.present? and false %>

          <!--featured member-->
          <div class="featured one-third wow fadeInRight" data-wow-delay=".2s">
            <header class="s-title">
              <h2 class="ribbon star">Featured member</h2>
            </header>
            <header class="s-title">
              <h2 class="make_center garden_title">باغچه دار برتر</h2>
            </header>
            <article class="entry">
              <figure class="make_center">
                <% if  @guy.profile_photo.present?%>
                <%= image_tag @guy.profile_photo_url %>
                <% else %>
                <%= image_tag "gardener.png" %>
                <% end %>
                <figcaption>
                  <%= link_to profile_path(@guy) do %>
                  <i class="ico i-view">
                  </i>
                  <span>
                    <%= @guy.full_name %>
                    <% end %>
                  </span>
                </figcaption>
              </figure>
              <div class="container">
                <h2 class="make_center">
                  <%= link_to @guy.full_name ,  profile_path(@guy) %>
                </h2>
                <blockquote class="make_right">
                  ...من از گل هام مثل بچه هام مراقبت میکنم
                </br>
                مرسی از گلوگرافی
              </blockquote>
              <div class="actions">
                <div>
                  <%= link_to "دیدن پروفایل باغچه دار برتر" , profile_path(@guy) , :class => "button" %>
                  <div class="more"><a href="#">نفرات برتر بعدی</a></div>
                </div>
              </div>
            </div>
          </article>
        </div>
        <!--//featured member-->
        <% end %>
      </div>
      <!--//entries-->
    </div>
    <!--//cwrap-->

    <!--cwrap-->
    <div class="cwrap">
      <header class="s-title">

        <h2 class="make_center garden_title">
          سوالات متداول
        </h2>
      </header>

      <!--entries-->
      <div class="entries row">
        <!--item-->
        <% Post.all.each do |post| %>
        <%= render 'posts/post' , :post=> post %>
        <% end %>
        <!--item-->

        <div class="quicklinks">
          <%= link_to "همه سوالات" , posts_path , class: "button" %>
          <a href="javascript:void(0)" class="button scroll-to-top">
            برگرد بالا
          </a>
        </div>
      </div>
      <!--//entries-->
    </div>



    <div class="cwrap">
    <%= render "plants/index" ,:@plants => @plants.first(20)  %>
    </div>

    <!--//cwrap-->

    <!--cwrap-->
    <!-- <div class="cwrap">
    <header class="s-title">
    <h2 class="make_right title_in_middle">
    محصولات اخیر
    <%= link_to "فروشگاه" , store_show_path%>
  </h2>
</header>
<div class="entries row">
<% Shoppe::Product.all.active.featured.first(8).each do |prod| %>
<%= render 'products/product' , :prod => prod , :rel => 4 %>
<% end %>

<div class="quicklinks">
<%= link_to "می خوام گل بخرم"  , store_show_path , :class =>"button" %>
<a href="javascript:void(0)" class="button scroll-to-top">
برگرد بالا
</a>
</div>
</div>
</div> -->
<!--//cwrap-->
</section>
<!--//content-->

<!--//right sidebar-->
</div>
<!--//wrap-->
</div>
</main>
<!--//main-->

</html>
