<% @page_title = "خدمات گلوگرام" %>
<main class="main" role="main">
  <!--wrap-->
  <div class="wrap clearfix">
    <!--breadcrumbs--><nav role="navigation" class="breadcrumbs"><ul><li>
    <a href="#" title="Home">خانه</a></li><li>خدمات گلوگرام</li></ul></nav><!--//breadcrumbs-->
  <div class="row">
    <section class="content full-width">
    <div style="display:table; margin:0 auto;" class="modal wow animated zoomIn">
      <%=image_tag("logo.png")%>
    </div>
      <!--container-->
      <article class="container make_right" id="page-18">
        <div id="section1">
          <h1 style="color:red;">پشتیبانی خدمات گلینو</h1>
          <div style="display:table; margin:0 auto;">
            <%=image_tag("golino_support.jpg")%>
          </div>
          <p dir="rtl" class="services_text">در صورت بروز هر گونه مشکل در دستگاه گلینو و یا عدم سرویس دهی مطلوب مطابق با توضیحات و سرویس های تضمینی ارایه شده در مراکز فروش معتبر و دفترچه ی راهنمای همراه دستگاه با شماره تلفن +۵۵۵۵۵۵۵۵ تماس حاصل کنید و از خدمات پشتیبانی گلینو متناسب با شرایط مندرج در دفترچه خرید بهره مند شوید. </p>
        </div>

        <div id="section2">
          <h1 style="color:red;">فروش گل و گیاه و محصولات جانبی</h1>
          <div style="display:table; margin:0 auto;">
            <%=image_tag("market.jpg")%>
          </div>
          <p dir="rtl" class="services_text" >فروشگاه آنلاین گلوگرام عرضه کننده ی گیاهان متنوع و محصولات جانبی از جمله بذر انواع زیادی از گیاهان و گل ها، گلدان ها و ظروف مخصوص برای نگهداری گیاهان آپارتمانی مطابق با شرایط محیطی مناسب برای سلامت آن ها و هرآنچه که شما برای گیاهانتان نیاز دارید آماده ی خدمت رسانی، ثبت سفارش ها و ارسال رایگان سبد خرید شما به در منزل خواهد بود.</p>
          <div style="display:table; margin:0 auto;">
            <%=link_to "بازدید از فروشگاه آنلاین" , '/store/show' ,:class=>"button" %>
          </div>
        </div>
        
        <div id="section3">
          <h1 style="color:red;">خدمات باغیار</h1>
          <div style="display:table; margin:0 auto;">
            <%=image_tag("gardener_services.jpg")%>
          </div>
          <p dir="rtl" class="services_text">به منظور دریافت خدمات تخصصی باغبانی و طرح سوالات و دریافت مشاوره، می توانید با شماره ی +۴۴۴۴۴۴۴۴ تماس حاصل کرده و از نیروهای مجرب و متخصص در زمینه گیاهان و باغداری مشاوره در یافت کنید. همچنین در صورت لزوم و به درخواست شما، به منظور انجام و رسیدگی به فعالیت های لازم در باغچه شما، یک باغبان به صورت حضوری در اختیار شما قرار خواهد گرفت.</p>
        </div>
        
        <div id="section4">
          <h1 style="color:red;">گلوگرافی</h1>
          <div style="display:table; margin:0 auto;">
            <%=image_tag("glography.jpg")%>
          </div>
          <p dir="rtl" class="services_text">* اتصال گیاه بوسیله ی دستگاه گلینو به اینترنت.</p>
          <p dir="rtl" class="services_text">* اندازه گیری فاکتورهای سلامت گیاه شامل رطوبت خاک، رطوبت هوا، نور و دما.</p>
          <p dir="rtl" class="services_text">* بررسی وضعیت سلامت گیاه با توجه به فاکتورهای حیاتی اندازه گیری شده و ارایه نتایج حاصل از تحلیل آن ها به کاربر بر روی گوشی تلفن همراه، تبلت و یا وب.</p>
          <p dir="rtl" class="services_text">* ارایه نمودار روند پیشرفت سلامت گیاه.</p>
          <p dir="rtl" class="services_text">* هشدار به کاربر در صورت به خطر افتادن سلامت گیاه از جمله کاهش بیش از حد رطوبت خاک و یا نور به صورت SMS و notification بر روی گوشی موبایل یا تبلت.</p>
          <p dir="rtl" class="services_text">* برنامه کاربردی برای سیستم عامل آندروید برای گوشی های همراه و تبلت ها برای استفاده از خدمات گلوگرافی در هر نقطه و هر فاصله ای از گیاه علاوه بر سامانه ی اینترنتی (تحت وب).</p>
        </div>

        
        <div id="section5">
          <h1 style="color:red;">تبلیغات</h1>
          <div style="display:table; margin:0 auto;">
            <%=image_tag("advertisement_services.jpg")%>
          </div>
          <p dir="rtl" class="services_text">برای تبلیغ و معرفی محصولات، خدمات و یا کسب و کار خود در سامانه شبکه اجتماعی گلوگرام می توانید با پست الکترونیکی rasadpot.social.network@gmail.com تماس حاصل نمایید و از سرویس های متنوع تبلیغاتی این سامانه استفاده نمایید .</p>
        </div>


        
        <div id="section6">
          <br>
          <h1 style="color:red;">ارتباط با ما</h1>
          <div style="display:table; margin:0 auto;">
            <%=image_tag("connect_us_services.jpg")%>
          </div>
          <p dir="rtl" class="services_text">برای ارتباط با ما می توانید با شماره تلفن های زیر تماس حاصل نمایید: </p>
          <p dir="rtl" class="services_text">۰۲۱۴۴۱۲۸۰۸۰</p>
          <p dir="rtl" class="services_text">۰۲۱۴۴۱۲۸۰۸۰</p>
          <p dir="rtl" class="services_text">۰۲۱۴۴۱۲۸۰۸۰</p>
          <p dir="rtl" class="services_text">۰۲۱۴۴۱۲۸۰۸۰</p>
          <p dir="rtl" class="services_text">و یا به پست الکترونیک زیر پیام خود را ارسال نمایید:</p>
          <p dir="rtl" class="services_text">rasadpot.users@gmail.com</p>
        </div>
      </article><!--//container-->
    </section>
  </div><!--//row-->
  </div><!--//wrap-->

</main>

<script type="text/javascript">
(function($) {
    $.fn.goTo = function() {
        $('html, body').animate({
            scrollTop: $(this).offset().top + 'px'
        }, 2000);
        return this; // for chaining...
    }
})(jQuery);
$('#section<%=@section%>').goTo();
</script>
