<section class="content center full-width wow fadeInDown animated" style="visibility: visible;">
  <div class=" container new_forms">
    <%= form_for @planter, html: { multipart: true } do |f| %>
        <% if @planter.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@planter.errors.count, "error") %> prohibited this planter from being saved:</h2>

              <ul>
                <% @planter.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <div class="field one-third ">
          <p class="make_right">نام</p>
          <%= f.text_field :name %>
        </div>


        <div class="field one-third pull-right">
          <p class="make_right">نام لاتین</p>
          <%= f.text_field :latin_name %>
        </div>


        <div class="field one-third pull-right">
          <p class="make_right">دسته بندی</p>
          <%= f.text_field :category %>
        </div>


        <div class="field one-third pull-right">
          <p class="make_right">
            خانواده
          </p>
          <%= f.text_field :family%>
        </div>


        <div class="field one-third pull-right">
          <p class="make_right">
            انواع
          </p>
          <%= f.text_area :types%>
        </div>


        <div class="field one-third pull-right">
          <p class="make_right">
            خاک مناسب
          </p>
          <%= f.text_area :soil %>
        </div>

        <div class="field one-third pull-right">
          <p class="make_right">
            محل استفاده
          </p>
          <%= f.text_area :usage %>
        </div>


        <div class="field one-third pull-right">
          <p class="make_right">
            نکات
          </p>
          <%= f.text_area :note %>
        </div>

        <div class="field one-third pull-right">
          <p class="make_right">نحوه تکثیر</p>
          <%= f.text_field :germination %>
        </div>

        <div class="field one-third pull-right">
          <p class="make_right">آفت ها</p>
          <%= f.text_field :plague %>
        </div>

        <div class="field one-third pull-right">
          <p class="make_right">نحوه نگهداری</p>
          <%= f.text_field :keeping %>
        </div>

        <div class="field one-third pull-right">
          <p class="make_right">ارتفاع</p>
          <%= f.text_field :height %>
        </div>

        <div class="field one-third pull-right">
          <p class="make_right">میزان رطوبت خاک</p>
          <%= f.number_field :humidity_soil %>
        </div>
        <div class="field one-third pull-right">
          <p class="make_right">میزان رطوبت هوا</p>
          <%= f.number_field :humidity_air %>
        </div>
        <div class="field one-third pull-right">
          <p class="make_right">میزان دما</p>
          <%= f.number_field :temperature %>
        </div>
        <div class="field one-third pull-right">
          <p class="make_right">میزان نور</p>
          <%= f.number_field :light_degree %>
        </div>

        <div class="field one-third pull-right">
          <p class="make_right">
            خلاصه
          </p>
          <%= f.text_area :brief_desc %>
        </div>



        <div class="field full-width pull-right">
          <p class="make_right">
            توضیحات اصلی
          </p>
          <%= f.text_area :explanation%>
        </div>

        </br>

        <div class="field one-third pull-right">
          <p class="make_right">
            تصویر جدید
          </p>
              <%= f.label :avatar %><br>
              <%= f.file_field :avatar, :multiple => true, name: "planter_galleries[avatar][]" %>
        </div>


        <div class="actions">
          <%= f.submit  'اعمال تغییرات' , class: "btn btn-warning pull-right"%>
          <%= link_to 'بازگشت', planters_path , class: "btn btn-success pull-left"%>
          <%= link_to @planter.latin_name , @planter , class: "btn btn-link pull-left" %>

        </div>

    <% end %>

  </div>


  <div class="container new_forms">

    <% if @planter.planter_galleries.any? %>
        <div class="row">
          <p class="make_right">
            گالری این گیاه:
          </p>
          <% @planter.planter_galleries.each do |p| %>
              <div class="field one-sixth pull-right">
                <%= image_tag p.avatar_url %>
                <%= link_to "تغییر عکس", edit_planter_gallery_path(p) %>
                |
                <%= link_to "حذف عکس" ,p, method: :delete, data: { confirm: 'حتمن حذف شه؟' } %>
              </div>
          <% end %>
        </div>
    <% end %>
  </div>

</section>
