<div class="entry one-fourth wow fadeIn animated">
  <figure style="overflow: hidden;   height: 140px;">
    <% if p.planter_galleries.first.present? %>
    <%= image_tag p.planter_galleries.first.avatar_url, class: "fill_parent" %>
    <% else %>
    <%= image_tag "barggologram.png" , class: "fill_parent"   %>
    <% end %>
    <figcaption>
      <%= link_to planter_path(p) do  %>
      <i class="ico i-view"></i> <span><%= p.latin_name %></span>
      <%end%>
    </figcaption>
  </figure>
  <div class="container make_right">
    <p style="height: 60px; text-align: center;">
      <%= link_to p do %>
      <%= p.name %>
      <% end %>
    </p>
    <% if user_signed_in? %>
    <div class="">
      <!--<a href="/planters/<%=p.latin_name%>/follow" class="btn-info btn-xs<% if current_user.following?(p)%> invis <%else%> visible <%end%>" data-remote="true" id=<%="follow_butt"+p.latin_name%>>-->
      <!--<i class="">این گیاه را دنبال کن</i>-->
      <!--</a>-->

      <!--<a href="/planters/<%=p.latin_name%>/unfollow" class="button btn-xs <% if current_user.following?(p)%> visible <%else%> invis <%end%>" data-remote="true"  id=<%="unfollow_butt"+p.latin_name%> class="button">-->
      <!--<i class="">این گیاه را دنبال نکن</i>-->
      <!--</a>-->
    </div>
    <% end %>
    <div class="actions">
      <div>
        <div class="difficulty">
          <i class="ico i-easy"></i>
          <span>آسان</span>
        </div>
        <div class="likes">
          <i class="ico i-likes"></i>
          <span >
            <%= p.followers_by_type('User').count %>
          </span>
        </div>
        <div class="comments">
          <i class="ico i-comments"></i>
          <%= link_to planter_path(p) do %>
          <i> <%= p.comments.count %> </i>
          <% end %>
          <!-- <a href="http://www.themeenergy.com/themes/html/social-chef/recipe.html#comments">27</a> -->
        </div>
      </div>
    </div>
  </div>
</div>
