<!--<p id="notice"><%#= notice %></p>-->
<div class="wrap clearfix">

  <div class="row">
    <h1 style="text-align: center;">جستجو بر اساس حروف الفبا</h1>

    <div class="row">

    </div>
    <aside class="above-sidebar full-width  wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">

      <ul class="boxed">
        <!-- <button class="button pull-right"> جستجو بر اساس حروف الفبا </button> -->
        <% themes = ["dark" , "medium" , "light"] %>
        <% i =1 %>

        <% FaAlphabet.all.each do |fa| %>
        <li class=" <%=themes[i%3] %> pull-right">
          <% i = i+1 %>
          <%= link_to find_planters_path(:letter => fa.value), class: "fa" ,:remote => true  do %>
          <!-- <a href="recipes.html" title="Appetizers"> -->
          <h4><%=fa.name%></h4>
          <!-- </a> -->
          <% end %>
        </li>
        <% end %>
        <li class="pull-right">
          <%= image_tag "ajax-loader.gif" , class: "myspinner" , id: "myspinner"%>
        </li>
      </ul>
    </aside>

    <aside class="sidebar one-fourth wow fadeInLeft animated" style="visibility: visible; animation-name: fadeInLeft;"  >
      <div class="widget">
        <%= alphabetical_paginate @alphaParams %>
      </div>
    </aside>

    <section class="content three-fourth"  >

      <div id="pagination_table" class="planters">
        <% @planters.first(20).each do |p| %>
        <%= render 'sample' , :p => p %>
        <% end %>
      </div>

    </section>

    <!-- </div> -->
    <!-- <div class="row"> -->
    <div class="center">
      <%= link_to "همه گیاهان" , planters_path , class: "button" %>
      <a href="javascript:void(0)" class="button scroll-to-top">
        برگرد بالا
      </a>
    </div>
    <!-- </div> -->

    <% if user_signed_in? and current_user.admin? %>
    <table class="table table-condensed table-hover">
      <thead>
        <tr>
          <th>id: </th>
          <th>name</th>
          <th>latin name</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @planters.each do |planter| %>
        <tr>
          <td><%= planter.id %></td>
          <td><%= planter.name %></td>
          <td><%= planter.latin_name %></td>
          <td><%= link_to 'Show', planter_path(planter) %></td>
          <% if policy(planter).edit? %>
          <td><%= link_to 'Edit', edit_planter_path(planter) %></td>
          <% end %>
          <% if policy(planter).destroy? %>
          <td><%#= link_to 'Destroy', planter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Planter', new_planter_path %>


    <% end %>


  </div>


</div>

<script type="application/javascript">
$('.fa').click(function(){
    $('#myspinner').css('display','block');
  });
</script>
