<title>
  فروشگاه|<%=@planter.name%>
</title>

<div class="main" role="main">
  <div class="wrap clearfix">
    <div class="row">

      <head class="s-title wow fadeInLeft animated" style="visibility: visible;">
        <h1 class="make_center"> <%=@planter.name%></h1>
      </head>

      <div id="post-form" style="display:none;"></div>

      <!--content-->
      <section class="content three-fourth">

        <!--pot-->
        <div class="recipe">

          <div class="row">
            <!--two-third-->
            <article class="two-third wow fadeInLeft animated" style="visibility: visible;">

              <!-- Place somewhere in the <body> of your page -->
              <div style="background: #ffffff; direction: ltr;">
                <div class="flexslider">
                  <ul class="slides">
                    <li data-thumb= <%=@planter.image_1_url(:medium)%> >
                      <%=image_tag @planter.image_1_url%>
                    </li>
                    <li data-thumb= <%=@planter.image_2_url(:medium)%>>
                      <%=image_tag @planter.image_2_url%>

                    </li>
                    <li data-thumb=<%=@planter.image_3_url(:medium)%>>
                      <%=image_tag @planter.image_3_url%>
                    </li>
                    <li data-thumb=<%=@planter.image_4_url(:medium)%>>
                      <%=image_tag @planter.image_4_url%>
                    </li>
                  </ul>
                </div>
                <div class="intro make_right">
                  <p >:در مورد این گیاه</p>
                  <p style="direction: rtl;"><%= @planter.brief_desc %></p>
                </div>
              </div>

            </article>
            <!--//two-third-->

            <!--one-third-->
            <article class="one-third wow fadeInDown animated" style="visibility: visible;">

              <br>
              <div style="direction: rtl;">
                <% if user_signed_in? %>
                    <%=link_to "سوال، مطلب یا نکته ای بنویسید .." , new_post_path(:planter_id=>@planter.id), :class=>"btn btn-default btn-block", :remote=>true%>
                <% else %>
                    <%= link_to "عضوی از گیاهدارن شو.." ,  new_user_registration_path, :class => "btn btn-success btn-block" %>
                <% end %>
              </div>


              <!--//make post-->
              <br>

              <% if user_signed_in? and policy(@planter).edit? %>
                  <%= link_to "ویرایش" , edit_planter_path(@planter) , :class => "btn btn-block btn-info" %>
                  </br>
              <% end %>
              <dl class="basic make_center">

                <% if @planter.latin_name.present? %>
                    <dt><%= @planter.latin_name%></dt>
                    <dd>نام لاتین</dd>
                <% end %>

                <% if @planter.second_name.present? %>
                    <dt><%= @planter.second_name%></dt>
                    <dd>نام دیگر</dd>
                <% end %>

                <% if @planter.humidity_air.present?  %>
                    <dt><%= @planter.humidity_air%></dt>
                    <dd>رطوبت هوا</dd>
                <% end %>

                <% if @planter.humidity_soil.present? %>
                    <dt><%= @planter.humidity_soil%></dt>
                    <dd>رطوبت خاک</dd>
                <% end %>

                <% if @planter.temperature.present? %>
                    <dt><%= @planter.temperature%></dt>
                    <dd>دما</dd>
                <% end %>


                <% if @planter.light_degree.present? %>
                    <dt><%= @planter.light_degree%></dt>
                    <dd>نور</dd>
                <% end %>

              </dl>

              <dl class="user make_center">
                <dt >تعداد کامنت ها</dt>
                <dd ><%=@planter.comments.count%></dd>
                <dt >علاقه مندان</dt>
                <dd><%= @followers.count%></dd>
              </dl>
              <h2 class="make_center" style="direction: rtl;">نفرات برتر در نگهداری <%=@planter.name%></h2>
              <dl class="ingredients make_center">
                <dt>میزان سلامت</dt>
                <dd>
                  <p calss="make_center">
                    کاربران برتر</p></dd>
                <dt>80%</dt>
                <dd>user_profile_link0</dd>
                <dt>50%</dt>
                <dd>user_profile_link1</dd>
                <dt>42%</dt>
                <dd>user_profile_link2</dd>
                <dt>33.1%</dt>
                <dd>user_profile_link3</dd>
              </dl>

            </article>
            <!--//one-third-->
          </div>

        </div>
        <!--//pot-->

        <!--comments-->
        <div class="comments wow fadeIn animated" id="comments" itemprop="interactionCount" content="UserComments:0">
          <% if @planter.comments.any? %>
              <% @planter.comments.each do |cmnt| %>
                  <!---->
                  <ol class="commetn-list ">
                    <!--/-->
                    <!--<li class="comment byuser comment-author-test99899 even thread-even depth-1 clearfix">-->
                    <!--&lt;!&ndash;&ndash;&gt;-->
                    <!--<div class="avatar">-->
                    <!--&lt;!&ndash; user profile picture must set in here &ndash;&gt;-->
                    <!--<% if cmnt.user.profile.profile_photo.present?%>-->
                        <!--<%= link_to profile_path(cmnt.user.profile) do %>-->
                            <!--<%=image_tag cmnt.user.profile.profile_photo_url%>-->
                            <!--<% end %>-->
                        <!--<%else %>-->
                        <!--<%= link_to profile_path(cmnt.user.profile) do %>-->
                            <!--<%=image_tag "default_plant.png"%>-->
                            <!--<% end %>-->
                        <!--<%end%>-->
                    <!--</div>-->

                    <!--<div class="comment-box" style="padding:1%">-->
                    <!--&lt;!&ndash;&ndash;&gt;-->
                    <!--<div class="comment-author meta make_right">-->
                    <!--&lt;!&ndash; info about commenter&ndash;&gt;-->
                    <!--<%= cmnt.user.profile.first_name %>-->
                    <!--<%= cmnt.user.profile.last_name %>-->
                    <!--<%if user_signed_in? and has_auth(cmnt)%>-->
                        <!--<%= link_to 'حذف نظر', cmnt, method: :delete, data: { confirm: 'Are you sure?' } , :class=>"b_farsi btn btn-danger btn-xs" %>-->
                        <!--<%end%>-->
                    <!--<p class="make_right"><%= cmnt.created_at %></p>-->
                    <!--</div>-->
                    <!--&lt;!&ndash;&ndash;&gt;-->
                    <!--<div class="comment-text">-->
                    <!--&lt;!&ndash; comment content must set here&ndash;&gt;-->
                    <!--<p><%= cmnt.content %></p>-->
                    <!--</div>-->
                    <!--&lt;!&ndash;&ndash;&gt;-->
                    <!--</div>-->
                    <!--&lt;!&ndash;&ndash;&gt;-->
                    <!--</li>-->
                    <li class="comment byuser comment-author-admin bypostauthor even thread-even depth-1 clearfix" id="article-comment-23">

                      <div class="comment-box">
                        <div class="comment-author meta make_center">
                          <a rel="nofollow" class="comment-reply-link pull-right" href="#" onclick="return addComment.moveForm( &quot;comment-23&quot;, &quot;23&quot;, &quot;respond&quot;, &quot;125&quot; )" aria-label="Reply to admin">
                            جواب بده
                          </a>
                          <strong>
                            <!--<a href="http://www.themeenergy.com/themes/wordpress/social-chef/members/admin/" rel="external nofollow" class="url">-->
                            <!--admin-->
                            <!--</a>-->
                            <%= link_to cmnt.user.profile.full_name , profile_path(cmnt.user.profile) %>
                          </strong>

                          <!--said on December 5, 2014-->
                          در تاریخ
                          <% time = cmnt.created_at.to_parsi %><%= time.strftime "%A %d %B %Y" %>
                          گفت:

                        </div>
                        <div class="comment-text">
                          <%= cmnt.content %>
                        </div>
                      </div>
                      <div class="avatar">
                        <!--<img src="http://www.themeenergy.com/themes/wordpress/social-chef/wp-content/uploads/avatars/1/66244049ec442247c05ab60c29b6ecbe-bpthumb.jpg" class="avatar user-1-avatar avatar-90 photo" width="90" height="90" alt="Profile photo of admin">-->
                        <% if cmnt.user.profile.profile_photo.present?%>
                            <%= link_to profile_path(cmnt.user.profile) do %>
                                <%=image_tag cmnt.user.profile.profile_photo_url, :class => "avatar user-1-avatar avatar-90 photo"%>
                            <% end %>
                        <%else %>
                            <%= link_to profile_path(cmnt.user.profile) do %>
                                <%=image_tag "default_plant.png"  , :class => "avatar user-1-avatar avatar-90 photo"%>
                            <% end %>
                        <%end%>
                        <div class="comment-meta commentmetadata"></div>
                      </div>
                    </li>
                    <!---->
                  </ol>
              <% end %>

          <% else %>

              <p class="zerocomments make_right">
                در این باغچه نظری داده نشده است، شما اولین نفر باشید!
              </p>
              <!-- If comments are open, but there are no comments. -->
          <% end %>

          <div id="respond" class="comment-respond">
            <h3 id="reply-title" class="comment-reply-title make_right">
              نظر بدهید
            </h3>
            <div class="container" style="direction: rtl;">
              <p style="direction: rtl; float: right" class="make_right">
                <strong class="make_right">توجه:</strong>
                نظرات کاربران نشان دهنده دیدگاه شخصی نویسنده آنها است، و نه لزوما دیدگاه گلوگرام، به منظور خود داری از اهانت ، بی تربیتی و بیان مبتذل نظرات بدون اطلاع قبلی حذف می شوند.
              </p>

              <%= render 'comments/form' , {:object => @comment , :commentable => @planter} %>


              <% if not user_signed_in? %>
                  <p class="make_right">
                    شما عضوی از گیاه داران نیستید، برای اینکه نظر بدهید، اینجا عضو شوید:
                  </p>
                  <p>
                    <%= render "devise/registrations/form" , :resource => User.new %>
              <% end %>
            </div>

            <input type="hidden" id="ak_js" name="ak_js" value="1441730086571">
            </form>
          </div><!-- #respond -->

          <!--//post comment form-->


        </div>


        <!--//comments-->

      </section>
      <!--//content-->

      <!--right sidebar-->
      <aside class="sidebar one-fourth wow fadeInRight animated" style="visibility: visible; direction: ltr">
        <div class="widget nutrition">
          <h3 class="make_center">
            اطلاعات تکمیلی گیاه
          </h3>
          <table class="make_right">
            <tbody>
            <% if @planter.germination.present? %>
                <tr>
                  <td style="direction:rtl;">
                    <%= @planter.germination %>
                  </td>
                  <td>نحوه تکثیر</td>
                </tr>
            <% end %>

            <% if @planter.plague.present? %>
                <tr>
                  <td style="direction:rtl;"><%= @planter.plague%></td>
                  <td>آفت ها</td>
                </tr>

            <% end %>
            <% if @planter.keeping.present? %>
                <tr>
                  <td style="direction:rtl;"><%=@planter.keeping %></td>
                  <td>نحوه نگهداری</td>
                </tr>
            <% end %>


            </tbody>
          </table>
        </div>

        <div class="widget share">
          <ul class="boxed">
            <li class="light">
              <a href="#" title="Facebook"><i class="ico i-facebook"></i> <span>Share on Facebook</span></a>
            </li>
            <li class="medium">
              <a href="#" title="Twitter"><i class="ico i-twitter"></i> <span>Share on Twitter</span></a>
            </li>
            <% if user_signed_in? %>
                <li class="dark">
                  <a href="/planters/<%=@planter.latin_name%>/follow" class="<% if current_user.following?(@planter)%> invis <%else%> visible <%end%>" title="Favourites">
                    <i class="ico i-favourites "></i>
                    <span>اضافه به علاقه ها</span>
                  </a>

                  <a href="/planters/<%=@planter.latin_name%>/unfollow" class="<% if current_user.following?(@planter)%> visible <%else%> invis <%end%>" title="Favourites">
                    <i class="ico i-favourites"></i>
                    <span>حذف از علاقه ها</span>
                  </a>

                </li>
            <% end %>
          </ul>
        </div>

        <% if @followers.present? %>
            <div class="widget members">
              <h3 class="make_center">افراد دنبال کننده ی این گیاه</h3>
              <ul class="boxed">
                <% @followers.first(15).each do |x| %>
                    <li>
                      <div class="avatar">
                        <% prof = User.find(x.follower_id).profile %>
                        <%= link_to profile_path(prof) do %>
                            <%= image_tag prof.profile_photo_url %>
                            <span>
                        <%= prof.first_name %>
                      </span>
                        <% end %>
                      </div>
                    </li>
                <% end %>
              </ul>
            </div>
        <% end %>
        <!--posts table-->
        <div class="widget widget-sidebar">
          <!--cwrap-->
          <div class="cwrap">
            <h3 class="make_center" style="direction: rtl;">
              سوالات و مطالب در مورد <%= @planter.name %>
            </h3>
            <%@planter.posts.order("created_at DESC").each do |pos|%>
                <ul class="articles_latest">
                  <li style="direction: rtl;">
                    <%=link_to  pos do%>
                        <%if pos.image_url.present?%>
                            <%=image_tag(pos.image_url(:thumb))%>
                        <%else%>
                            <%=image_tag("img11.jpg")%>
                        <%end%>
                        <p class="make_right">
                          <%= pos.user.profile.first_name if pos.user.present?%>:
                          </br>
                          <small>
                            <%= pos.title %>
                          </small>
                        </p>
                    <% end %>
                  </li>
                </ul>
            <%end%>
          </div>
          <!--//cwrap-->
        </div>
        <!--//posts table-->

      </aside>
      <!--//right sidebar-->
    </div>
  </div>
</div> <!--end of main-->



<script type="application/javascript">
    console.log("ss");
    $(window).load(function() {
        $('.flexslider').flexslider({
            animation: "slide",
            controlNav: "thumbnails"
        });
    });
</script>