<!---->
<ol class="commetn-list ">
  <!--/-->
  <!--<li class="comment byuser comment-author-test99899 even thread-even depth-1 clearfix">-->
  <!--&lt;!&ndash;&ndash;&gt;-->
  <!--<div class="avatar">-->
  <!--&lt;!&ndash; user profile picture must set in here &ndash;&gt;-->
  <!--<% if cmnt.user.profile.profile_photo.present?%>-->
      <!--<%= link_to profile_path(cmnt.user.profile) do %>-->
          <!--<%=image_tag cmnt.user.profile.profile_photo_url%>-->
          <!--<% end %>-->
      <!--<%else %>-->
      <!--<%= link_to profile_path(cmnt.user.profile) do %>-->
          <!--<%=image_tag "default_plant.png"%>-->
          <!--<% end %>-->
      <!--<%end%>-->
  <!--</div>-->

  <!--<div class="comment-box" style="padding:1%">-->
  <!--&lt;!&ndash;&ndash;&gt;-->
  <!--<div class="comment-author meta make_right">-->
  <!--&lt;!&ndash; info about commenter&ndash;&gt;-->
  <!--<%= cmnt.user.profile.first_name %>-->
  <!--<%= cmnt.user.profile.last_name %>-->
  <!--<%if user_signed_in? and has_auth(cmnt)%>-->
      <!--<%= link_to 'حذف نظر', cmnt, method: :delete, data: { confirm: 'Are you sure?' } , :class=>"b_farsi btn btn-danger btn-xs" %>-->
      <!--<%end%>-->
  <!--<p class="make_right"><%= cmnt.created_at %></p>-->
  <!--</div>-->
  <!--&lt;!&ndash;&ndash;&gt;-->
  <!--<div class="comment-text">-->
  <!--&lt;!&ndash; comment content must set here&ndash;&gt;-->
  <!--<p><%= cmnt.content %></p>-->
  <!--</div>-->
  <!--&lt;!&ndash;&ndash;&gt;-->
  <!--</div>-->
  <!--&lt;!&ndash;&ndash;&gt;-->
  <!--</li>-->
  <li class="comment byuser comment-author-admin bypostauthor even thread-even depth-1 clearfix" id="article-comment-23">

    <div class="comment-box">
      <div class="comment-author meta make_center">
        <strong>
          <!--<a href="http://www.themeenergy.com/themes/wordpress/social-chef/members/admin/" rel="external nofollow" class="url">-->
          <!--admin-->
          <!--</a>-->
          <%= link_to cmnt.user.profile.full_name , profile_path(cmnt.user.profile) %>
        </strong>

        <!--said on December 5, 2014-->
        در تاریخ
        <% time = cmnt.created_at.to_parsi %><%= time.strftime "%A %d %B %Y" %>
        گفت:

      </div>
      <div class="comment-text rtl_dir">
        <p style="text-align: right; margin-right: 5%;">
          <%= cmnt.content %>
        </p>
      </div>
    </div>
    <div class="avatar" style="left:none; right:0 !important">
      <!--<img src="http://www.themeenergy.com/themes/wordpress/social-chef/wp-content/uploads/avatars/1/66244049ec442247c05ab60c29b6ecbe-bpthumb.jpg" class="avatar user-1-avatar avatar-90 photo" width="90" height="90" alt="Profile photo of admin">-->
      <% if cmnt.user.profile.profile_photo.present?%>
          <%= link_to profile_path(cmnt.user.profile) do %>
              <%=image_tag cmnt.user.profile.profile_photo_url, :class => " user-1-avatar avatar-90 photo"%>
          <% end %>
      <%else %>
          <%= link_to profile_path(cmnt.user.profile) do %>
              <%=image_tag "default_plant.png"  , :class => " user-1-avatar avatar-90 photo"%>
          <% end %>
      <%end%>
      <div class="comment-meta commentmetadata"></div>
    </div>
  </li>
  <!---->
</ol>
