<%= form_for(@plant_propagation) do |f| %>
  <% if @plant_propagation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@plant_propagation.errors.count, "error") %> prohibited this plant_propagation from being saved:</h2>

      <ul>
      <% @plant_propagation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :plant_id %><br>
    <%= f.number_field :plant_id %>
  </div>
  <div class="field">
    <%= f.label :propagation_id %><br>
    <%= f.number_field :propagation_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
