<section class="content center full-width wow fadeInDown animated">
<div class="modal container make_right">
<h2 class="center">
ایمیل خود را وارد کنید
</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label "ایمیل" %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "لینک تغییر رمز عبور را برایم بفرست" %>
    <%= link_to "ورود" , new_user_session_path , class: "btn btn-default pull-left"%>
    <br>
    <br>
  </div>
<% end %>
</div>
</section>
