<%= form_for(@plant_shape) do |f| %>
  <% if @plant_shape.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@plant_shape.errors.count, "error") %> prohibited this plant_shape from being saved:</h2>

      <ul>
      <% @plant_shape.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="one-sixth make_center">
    <%= f.label :plant_id %><br>
    <%= f.number_field :plant_id, :value => @plant.id %>
  </div>


  <!--  -->
  <div class="one-sixth make_center">
    <%= f.label :leaf_shape %><br>
    <%= f.select :leaf_shape_id , options_for_select(LeafShape.all.map {|s| [s.name, s.id]}) %>
  </div>

  <div class="one-sixth make_center">
    <%= f.label :leaf_color %><br>
    <%= f.select :leaf_color_id , options_for_select(LeafColor.all.map {|s| [s.name, s.id]}) %>
  </div>

  <div class="one-sixth make_center">
    <%= f.label :bloom_color %><br>
    <%= f.select :bloom_color_id , options_for_select(BloomColor.all.map {|s| [s.name, s.id]}) %>
  </div>

  <div class="one-sixth make_center">
    <%= f.label :physical_structure %><br>
    <%= f.select :physical_structure_id , options_for_select(PhysicalStructure.all.map {|s| [s.name, s.id]}) %>
  </div>
  <!--  -->
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
