
<h1>Listing Plant Shapes</h1>

<table>
  <thead>
    <tr>
      <th>Leaf shape</th>
      <th>Leaf color</th>
      <th>Bloom color</th>
      <th>flower shape</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @plant_shapes.each do |plant_shape| %>
      <tr>
        <td><%= plant_shape.leaf_shape.name %></td>
        <td><%= plant_shape.leaf_color.name %></td>
        <td><%= plant_shape.bloom_color.name %></td>
        <td><%= plant_shape.physical_structure.name%></td>
        <td><%= link_to 'Edit', edit_plant_shape_path(plant_shape,:plant=>@plant) %></td>
        <td><%= link_to 'Destroy', plant_shape, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Plant shape', new_plant_shape_path(:plant=>@plant) ,class:"btn btn-info" %>
