<%if has_order? && current_order.has_items? %>
    <ul class="cart_list product_list_widget ">
      <% for item in order.order_items %>
          <li>
            <% prod = Shoppe::Product.find(item.ordered_item_id) %>

            <% if prod.default_image.present? %>
                <%= image_tag prod.default_image.path , :class => "attachment-shop_thumbnail wp-post-image" , :width => "90" , :height => "90"%>
            <% else %>
                <img width="90" height="90" src="//www.themeenergy.com/themes/wordpress/social-chef/wp-content/uploads/2013/06/hoodie_4_front-90x90.jpg" class="attachment-shop_thumbnail wp-post-image" alt="hoodie_4_front">Happy Ninja&nbsp;
            <% end %>
            <%= link_to(remove_basket_item_path(item), :method => :delete, :class => 'delete ajax remove')do %>
                <small>×</small>
            <% end %>

            <%= link_to item.ordered_item.full_name ,
                        product_path(prod.product_category.permalink, prod.permalink) %>
            <br>
            <span class="quantity">
              <%= item.quantity%>
              × <span class="amount">
              <small>
                <%= number_to_currency item.total %>
              </small>
            </span>
            </span>
            <!--<span class="quantity">-->
            <%#= item.quantity %>
            <!--<span class="amount">-->
            <!--<%#= number_to_currency item.sub_total %>-->
            <!--</span>-->
            <!--</span>-->
            <%#= current_order.total_items %>

          </li>
      <% end %>

    </ul>
    <div class="total make_center">
      <strong> جمعا :</strong>
      <h3>
          <%=number_to_currency current_order.total_before_tax %>
      </h3>
    </div>

    <p class="buttons make_center">
      <%=link_to "سبد خرید من", basket_path , :class => 'button' %>
      <%= link_to "پرداخت", checkout_path, :class => 'button' %>
    </p>

<% else %>
    <div style="text-align:center;">
        <small>
          سبد خرید شما خالی است
        </small>
    </div>
<% end %>


