
<!--call to action-->
<section class="cta">
  <div class="wrap clearfix make_center">
    <a href="/users/sign_up" class="btn btn-lg left button" style="color: #000000">
      عضوی از گیاه داران شو
    </a>
    <h2 style="color:white" class="make_center" dir="rtl">
    اگر شما هم مثل ما زنده ماندن گیاه برایتان مهم است
      ، ما راه حلی برای شما داریم...
    </h2>
  </div>
</section>
<!--//call to action-->

<!--footer-->
<footer class="foot" role="contentinfo">
  <div class="wrap clearfix make_right">
    <div class="row">
      <article class="two-third">
        <h5 style="color:#F4716A;">چرا گلوگرام</h5>
        <p dir="rtl">
          <%= t('footer.text1') %>
        </p>
      </article>
      <article class="one-third">
        <p class="make_right" style="color:#F4716A;">ارتباط با ما از طریق تلفن یا ایمیل</p>
        <p class="make_right"><em>تلفن:</em></br>09353954916<br><em>ایمیل:</em></br>rasadpot.social.network@gmail.com</p>
      </article>
      <!-- <article class="one-fourth">
        <h5 style="color:#F4716A;">گلوگرام در شبکه های اجتماعی</h5>
        <ul class="social">
          <li class="gplus"><a href="#" title="gplus">google plus</a></li>
          <li class="linkedin"><a href="#" title="linkedin">linkedin</a></li>
        </ul>
      </article> -->

      <div class="bottom">
        <p class="copy">
          Copyright © Gologram.com
        </p>

        <nav class="foot-nav">
          <ul>
            <li>
              <%= link_to "خانه" , root_path %>
            </li>

            <li>
              <%= link_to "سوالات" , posts_url %>
            </li>
            <li>
              <%= link_to "گیاهان" , planters_path %>
            </li>
            <li>
              <%= link_to "بیشتر بدانید" , services_initial_index_path %>
            </li>
            <li>
              <%= link_to "جستجو در مورد گیاهان" , planters_path%>
            </li>
            <li>
              <%= link_to "ورود" , new_user_session_path %>
            </li>
            <li>
              <%= link_to "ثبت نام" , new_user_registration_path %>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</footer>
<!--//footer-->

<!--preloader-->
<!-- <div class="preloader"> -->
<!-- <div class="spinner"></div> -->
<!-- </div> -->
<!--//preloader-->
<!--
<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/jquery.uniform.min.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/jquery.slicknav.min.js"></script>
<script src="js/scripts.js"></script>
-->
