.col-md-12.col-lg-12.col-sm-12.col-xs-12.hidden-sm
  %table.shop_table.cart
    %thead
      %tr
        %th.product-remove &nbsp;
        %th.product-thumbnail &nbsp;
        %th.product-quantity تعداد
        %th.product-name کالا
        %th.product-price قیمت
        %th= Shoppe.settings.tax_name
        %th.product-subtotal جمع
    %tbody.col-lg-12.col-md-12.col-sm-12
      - for item in order.order_items
        %tr.cart_item
          %td.product-remove
            - unless defined?(readonly)
              = link_to(remove_basket_item_path(item), :method => :delete, :class => 'delete ajax remove') do
                ×
          %td.product-thumbnail
            -prod = Shoppe::Product.find(item.ordered_item_id)
            -if prod.default_image.present?
              = image_tag prod.default_image.path , :class => "attachment-shop_thumbnail wp-post-image" , :width => "90" , :height => "90"
            -else
          %td.quantity
            - unless defined?(readonly)
              %span
                = link_to "+", adjust_basket_item_quantity_path(item.id), :method => :post, :class => 'ajax'
                = link_to "-", adjust_basket_item_quantity_path(item.id), :method => :delete, :class => 'ajax'
            = item.quantity
          %td.product-name
            = item.ordered_item.full_name
          %td.product-price= number_to_currency item.sub_total
          %td.product-subtotal= number_to_currency item.tax_amount
          %td.product-subtotal= number_to_currency item.total
    %tfoot.make_right
      - if order.delivery_service
        %tr.delivery
          %td.method{:colspan => 6}
            - if defined?(readonly)
              = order.delivery_service.name
            - else
              = form_tag change_delivery_service_path do
                = select_tag 'delivery_service', options_from_collection_for_select(order.available_delivery_services, :id, :name, order.delivery_service.id)
          %td.money= number_to_currency order.delivery_price
      %tr.subtotal
        %td{:colspan => 6} هزینه پیک
        %td.money= number_to_currency 0
      %tr.tax
        %td{:colspan => 6}= "جمع کل"
        %td.money= number_to_currency order.total_before_tax
      %tr.total
        %td{:colspan => 6}
          = link_to "پرداخت", checkout_path, :class => 'button pull-left'
          جمع کل قابل پرداخت به همراه تخفیف
        %td.money
          = number_to_currency order.total




