<div class="full-width pull-right" style="background: white;
        margin: 10px;
        padding: 5px;
        direction: rtl;">
  <div class="wrap">
    <h3 class="make_right">
      <small>
        دسته بندی
      </small>
      <%= @product_category.name %>:
    </h3>
    <div class="one-third pull-right">
      <% if @product_category.image.present? %>
          <%= image_tag @product_category.image.path%>
      <% else %>
          <%= image_tag "avatar1.jpg"%>
      <% end %>
      <br>
      <abbr class="pull-right">
        <i class="ico i-category"></i>
        <%= @counts %>
        کالا در این دسته بندی
      </abbr>
    </div>
    <div class="two-third" style="text-align: right; direction: rtl">
      <p>
        <%= @product_category.description %>
      </p>
    </div>
  </div>
</div>


<div class="full-width" style="margin-top: 15px; margin-bottom: 15px;">

  <% for product in products.includes(:default_image, :product_categories) %>

      <%= render 'products/product' , :prod => product , :rel=>3 %>

  <% end %>
</div>




<div class="wrap" style="direction:  rtl; margin-bottom: 10px">
  <div class="pagination">
    <%= paginate @products %>
  </div>
</div>

