<p id="notice"><%= notice %></p>

<h1>Listing Propagations</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Explain</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @propagations.each do |propagation| %>
      <tr>
        <td><%= propagation.name %></td>
        <td><%= propagation.explain %></td>
        <td><%= link_to 'Show', propagation %></td>
        <td><%= link_to 'Edit', edit_propagation_path(propagation) %></td>
        <td><%= link_to 'Destroy', propagation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Propagation', new_propagation_path %>
