<div class="full-width" style="direction: rtl;">
  <div class="row">
<%= form_for(@plant) do |f| %>
  <% if @plant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@plant.errors.count, "error") %> prohibited this plant from being saved:</h2>

      <ul>
      <% @plant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="one-half make_center">
    <%= f.label :farsi_name %><br>
    <%= f.text_field :farsi_name %>
  </div>
  <div class="one-half make_center">
    <%= f.label :latin_name %><br>
    <%= f.text_field :latin_name %>
  </div>
  <div class="one-half make_center">
    <%= f.label :scientific_name %><br>
    <%= f.text_field :scientific_name %>
  </div>
  <div class="one-half make_center">
    <%= f.label :family %><br>
    <%= f.text_field :family %>
  </div>
  <div class="one-half make_center">
    <%= f.label :hardness %><br>
    <%= f.number_field :hardness %>
  </div>
  <div class="one-half make_center">
    <%= f.label :geo_origin %><br>
    <%= f.text_field :geo_origin %>
  </div>
  <div class="one-half make_center">
    <%= f.label :min_height %><br>
    <%= f.number_field :min_height %>
  </div>
  <div class="one-half make_center">
    <%= f.label :max_height %><br>
    <%= f.number_field :max_height %>
  </div>
  <div class="one-half make_center">
    <%= f.label :min_light %><br>
    <%= f.number_field :min_light %>
  </div>
  <div class="one-half make_center">
    <%= f.label :max_light %><br>
    <%= f.number_field :max_light %>
  </div>
  <div class="one-half make_center">
    <%= f.label :min_temp %><br>
    <%= f.number_field :min_temp %>
  </div>
  <div class="one-half make_center">
    <%= f.label :max_temp %><br>
    <%= f.number_field :max_temp %>
  </div>
  <div class="one-half make_center">
    <%= f.label :min_moisture %><br>
    <%= f.number_field :min_moisture %>
  </div>
  <div class="one-half make_center">
    <%= f.label :max_moisture %><br>
    <%= f.number_field :max_moisture %>
  </div>
  <div class="one-half make_center">
    <%= f.label :life_time %><br>
    <%= f.select :life_time , options_for_select(['یک ساله','دو ساله','دایمی'],  @plant.life_time.to_s) %>
  </div>


   <div class="one-half pull-right">
     <%= f.label :avatars %><br>
     <%= f.file_field :avatars, multiple: true %>
  </div>

</div>

<div class="row">

  <div class="one-half  make_center">
    شکل برگ
    <div class="make_center">
      <%=select_tag 'leaf_shapes[]', options_for_select(LeafShape.all.map {|s| [s.name, s.id]}), :multiple => true,class:"full-width make_center"%>
    </div>
  </div>

  <div class="one-half  make_center">
    رنگ برگ
    <div class="make_center">
      <%=select_tag 'leaf_colors[]', options_for_select(LeafColor.all.map {|s| [s.name, s.id]}), :multiple => true,class:"full-width make_center"%>
    </div>
  </div>

  <div class="one-half  make_center">
    رنگ گل
    <div class="make_center">
      <%=select_tag 'bloom_colors[]', options_for_select(BloomColor.all.map {|s| [s.name, s.id]}), :multiple => true,class:"full-width make_center"%>
    </div>
  </div>

  <div class="one-half  make_center">
    شکل گل
    <div class="make_center">
      <%=select_tag 'physical_structures[]', options_for_select(PhysicalStructure.all.map {|s| [s.name, s.id]}), :multiple => true,class:"full-width make_center"%>
    </div>
  </div>


  <div class="one-half  make_center">
    خاک :
    <div class="make_center">
      <%=select_tag 'soiles[]', options_for_select(Soil.all.map {|s| [s.name, s.id]} ), :multiple => true,class:"full-width"%>
    </div>
  </div>

  <div class="one-half  make_center">
    تکثیر :
    <div class="make_center">
      <%=select_tag 'propagations[]', options_for_select(Propagation.all.map {|s| [s.name, s.id]}), :multiple => true,class:"full-width make_center"%>
    </div>
  </div>

  <div class="one-half  make_center">
     خواص دارویی
    <div class="make_center">
      <%=select_tag 'medicals[]', options_for_select(MedicalFeature.all.map {|s| [s.name, s.id]}), :multiple => true,class:"full-width make_center"%>
    </div>
  </div>

  <div class="one-half  make_center">
    بیماری های فیزیولوژیک
    <div class="make_center">
      <%=select_tag 'epidemics[]', options_for_select(Epidemic.all.map {|s| [s.sign, s.id]}), :multiple => true,class:"full-width make_center"%>
    </div>
  </div>

  <div class="one-half  make_center">
    آفت ها
    <div class="make_center">
      <%=select_tag 'pests[]', options_for_select(Pest.all.map {|s| [s.name, s.id]}), :multiple => true,class:"full-width make_center"%>
    </div>
  </div>

    <%= f.submit "Submit"  , class: "btn btn-block" %>

</div>

<% end %>
</div>
