<section class="content center full-width wow fadeInDown animated" style="visibility: visible">
  <div class="modal container new_forms">
<%= form_for @plant , html: { multipart: true } do |f| %>
  <% if @plant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@plant.errors.count, "error") %> prohibited this plant from being saved:</h2>

      <ul>
      <% @plant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="col-md-7">
  <div class="form-group">

    <% if @garden.present?%>
        <%= hidden_field_tag :garden_id , @garden.id %>
        <p class="make_right">
این گیاه جدید در باغچه
        <b> <%= @garden.name %> </b>
          کاشته خواهد شد
        </p>

  <% else %>
        <p class="make_right">
            انتخاب کنید که گیاه شما در کدام باغچه کاشته شود:
        </p>
        <%= select_tag :garden_id ,options_from_collection_for_select(current_user.profile.gardens,"id" , "name")   %>
        <% end %>
  </div>

  <div class="form-group make_center">

  <p class="make_right">
    گیاه خود را انتخاب کنید:
  </p>
    <%= select_tag :planter_id ,options_from_collection_for_select(Planter.all,"id" , "name")  %>
  </div>

  <div class="field">
    <p class="make_right">
      سن گیاه خود را وارد کنید
      <small>(به ماه)</small>
    </p>
    <%= f.number_field :age %>
  </div>
  </br>
  <div class="field">
    <p class="make_right">
      ارتفاع کنونی گیاه خود را وارد کنید
    <small>(به سانتی متر)</small>
    </p>
    <%= f.number_field :height%>
  </div>
  </br>


  <div class="field">
    <p class="make_center bold">
      تصویری خوب برای گیاه خود انتخاب کنید،
      گیاه شما در اینترنت با این تصویر معرفی خواهد شد
    :
    </p>

    <form id="form1" runat="server">
      <div style="display:table; margin:0 auto; width:50%; height:auto;">
        <%= image_tag "default_plant.png" , id: "blah" %>
          <%= f.file_field :image , :id=>"imgInp"%>
      </div>
    </form>
  <p>
    <label>
      <%= f.check_box :remove_image %>
      Remove avatar
      </label>
  </p>
  </div>

  <div class="field">
    <p class="make_right">توضیحاتی مختصر برای گیاه</p>
    <%= f.text_area :description %>
  </div>
  <div class="actions make_center">
    <%= f.submit 'اضافه کردن گیاه به باغچه' , :class=>"button"%>

    <%= link_to 'بازگشت', :back , :class=>"button pull-left"%>

  </div>
<% end %>
</div>
</div>
</section>





<script type="text/javascript">
    function readURL(input) {

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#imgInp").change(function(){
        readURL(this);
    });

</script>