<div style="padding:1.6%;">
<div class="one-third">
  <% if @plant.image.present? %>
      <%=image_tag @plant.image_url, :class=>"image full-width wow fadeInLeft animated"%>
      <%else %>
      <%=image_tag "default_plant.png", :class=>"image full-width wow fadeInDown animated"%>
  <%end%>
</div>

<!--table of plant element-->
<dl class="basic one-third wow zoomIn animated">
  <dt style="text-align:center"><span class="tb_in_plant">نام</span></dt>
  <dd ><%= @plant.name%></dd>
  <dt style="text-align:center" > <span class="tb_in_plant">
    نژاد
  </span>
  </dt>
  <dd><%= @plant.race%></dd>
  <dt class="make_center"><span class="tb_in_plant">سن</span></dt>
  <dd><%= @plant.age%></dd>
  <dt class="make_center"><span class="tb_in_plant">قد</span></dt>
  <dd><%= @plant.height%></dd>
  <dt class="make_center"><span class="tb_in_plant">دمای فعلی</span></dt>
  <dd><%= @plant.temperature%></dd>
  <dt class="make_center"><span class="tb_in_plant">رطوبت خاک</span></dt>
  <dd><%= @plant.humidity_soil%></dd>
  <dt class="make_center"><span class="tb_in_plant">رطوبت محیط</span></dt>
  <dd><%= @plant.humidity_air%></dd>
  <dt class="make_center"><span class="tb_in_plant">نور محیط</span></dt>
  <dd><%= @plant.light_degree%></dd>
  <dt class="make_center"><span class="tb_in_plant">در مورد این گیاه</span></dt>
  <dd><%= @plant.description%></dd>
  <dt class="make_center"><span class="tb_in_plant">صفحه اصلی این گیاه</span></dt>
  <dd><%= link_to @plant.name , planter_path(Planter.find_by_name(@plant.name) , :class=>"button")%></dd>
</dl>
<!--//table of plant element-->


<!--table of additional element of plant-->
<div class="widget nutrition one-third">
    <h3 class="make_right tb_in_plant">
      اطلاعات تکمیلی گیاه شما
    </h3>
    <table>
      <tbody>
        <tr>
          <td>میزان سلامت گیاه</td>
          <td><%=@plant.health_factor%></td>
        </tr>
        <tr>
          <td>میزان PH</td>
          <td>120</td>
        </tr>
        <tr>
          <td>میزان PH</td>
          <td>120</td>
        </tr>
        <tr>
          <td>میزان PH</td>
          <td>120</td>
        </tr>
        <tr>
          <td>میزان PH</td>
          <td>120</td>
        </tr>
        <tr>
          <td>میزان PH</td>
          <td>120</td>
        </tr>
        <tr>
          <td>میزان PH</td>
          <td>120</td>
        </tr>
        <tr>
          <td>میزان PH</td>
          <td>120</td>
        </tr>
      </tbody>
    </table>
    </br>
    <%= link_to 'حذف گیاه', @plant, method: :delete, data: { confirm: 'آیا مطمین هستید؟' } , 
    class: "button pull-right"%>
</div>
        <!--//table of additional element of plant-->



<section class="modal wow one-one fadeInLeft animated style="visibility: visible;"">
<div class=" container new_forms">
  <p class="make_bold" style="color:#f4716a;">نظرات کاربران</p>

  <%= form_for(@comment) do |f| %>
    <% if @comment.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

        <ul>
        <% @comment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.hidden_field :commentable_id , :value => @plant.id %>
    </div>
    <div class="field">
      <%= f.hidden_field :commentable_type  , :value =>"Plant"%>
    </div>
    <div class="field  make_center">
      <%= f.text_area :content %>
    </div>
    <div class="actions">
      <%= f.submit  'ثبت نظر' , :class=>"cm_bt button" %>
    </div>
  <% end %>
</div>
</section>



<div class="comments">
<br>
<% @plant.comments.each do |cmnt| %>

<ol class="commetn-list three-fourth">

  <li class="comment byuser comment-author-test99899 even thread-even depth-1 clearfix">
    
    <div class="avatar">
      <!-- user profile picture must set in here -->
      <% if cmnt.user.profile.profile_photo.present?%>
      <%=image_tag cmnt.user.profile.profile_photo_url%>
      <%else %>
      <%=image_tag "default_plant.png"%>
      <%end%>
    </div>
    <div class="comment-box" style="padding:1%">

      <div class="comment-author meta make_right">
        <!-- info about commenter-->
        <%= cmnt.user.profile.first_name %>
        <%= cmnt.user.profile.last_name %>
        <%if has_auth(cmnt)%>
        <%= link_to 'حذف نظر', cmnt, method: :delete, data: { confirm: 'Are you sure?' } , :class=>"b_farsi btn btn-danger btn-xs" %>
        <%end%>
        <p class="make_right"><%= cmnt.created_at %></p>
      </div>
      
      <div class="comment-text">
      <!-- comment content must set here-->
            <p><%= cmnt.content %></p>  
      </div>
      
    </div>
    
  </li>
  
</ol>
  <% end %>  
</div>


</div>

<%#= link_to 'تنظیمات', edit_plant_path(@plant) ,:class=>"for_inner_text"%>
<%#= link_to 'بازگشت', profile_path(current_user) ,:class=>"for_inner_text"%>




















