<%= form_for(@bluetooth_device) do |f| %>
  <% if @bluetooth_device.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bluetooth_device.errors.count, "error") %> prohibited this bluetooth_device from being saved:</h2>

      <ul>
      <% @bluetooth_device.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :sampling_times %><br>
    <%= f.number_field :sampling_times %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :version %><br>
    <%= f.number_field :version %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.number_field :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
