<p id="notice"><%= notice %></p>

<h1>Listing Bloom Colors</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Avatar</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bloom_colors.each do |bloom_color| %>
      <tr>
        <td><%= bloom_color.name %></td>
        <td><%=image_tag bloom_color.avatar_url(:thumb) %></td>
        <td><%= link_to 'Show', bloom_color %></td>
        <td><%= link_to 'Edit', edit_bloom_color_path(bloom_color) %></td>
        <td><%= link_to 'Destroy', bloom_color, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bloom color', new_bloom_color_path %>
