<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @bloom_color.name %>
</p>

<p>
  <strong>Avatar:</strong>
  <%= @bloom_color.avatar %>
</p>

<%= link_to 'Edit', edit_bloom_color_path(@bloom_color) %> |
<%= link_to 'Back', bloom_colors_path %>
