<section class="content center full-width wow fadeInRight animated" style="visibility: visible;">
  <%= form_for @post , html: { multipart: true } do |f|  %>
      <% if @post.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

            <ul>
              <% @post.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
      <% if @plant_id.present? %>
          <div class="container modal new_forms">
            <%= f.hidden_field :plant_id , :value=>@plant_id %>
      <% else %>
          <div class="container new_forms">
            <div class="one-half pull-right">
              <p class="make_right">
                گیاهی که میخواهید در مورد آن سوال بپرسید را انتخاب کنید:
              </p>
              <%= f.select :plant_id , Plant.all.map { |f| [f.farsi_name, f.id] }, { :prompt => "با دقت انتخاب کنید:"}, { :class=>"image-picker show-html my_width" } %>
            </div>
            <div class="one-half pull-left">
      <% end %>

      <div class="field">
        <%#= f.label :user_id %><br>
        <%#= f.hidden_field :user_id%>
      </div>

      <div class="field">
        <p class="make_right">موضوع سوال</p>
        <%= f.text_field :title %>
      </div>
      <div class="field">
        <p class="make_right">متن سوال</p>
        <%= f.text_area :content %>
      </div>

      <div class="field">
        <p class="make_right">یک تصویر برای ارسال
        </p>
        <small class="make_right">
          (اجباری: برای اینکه سوال شما برای دیگران واضح تر مطرح شود عکسی از موضوع خود انتخاب کنید و در اینجا قرار دهید:)
        </small>
        <div id="form1" runat="server">
          <div style="display:table; margin:0 auto; width:50%; height:auto;">
            <img id="blah" src="/assets/default_plant.png" alt="your image" />
            <%= f.file_field :image , :id=>"imgInp"%>
          </div>
        </div>
        <br>
      </div>

      <div class="field make_center">
        <%= f.submit 'پست', :class=>"b_farsi button sign_in_bt" %>
      </div>

      <div class="field">
        <%= link_to 'بازگشت', :back , :class => "pull-left btn-warning btn-sm" %>
      </div>

  <% end %>
  </div>
  </div>
  </div>
</section>

<script type="text/javascript">
    $("select").imagepicker({
        hide_select : false,
        show_label  : true
    })


    function readURL(input) {

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#imgInp").change(function(){
        readURL(this);
    });

</script>
