<!--main-->
<main class="main" role="main">
  <!--wrap-->
  <div class="wrap clearfix">
    <!--row-->
    <nav class="breadcrumbs">
      <ul>
      </ul>
    </nav>
    <div class="row">
      <!--content-->
      <section class="content three-fourth wow fadeInLeft animated" style="visibility: visible;">
        <!--blog entry-->
        <article class="post single">
          <div class="entry-meta">
            <div class="date">


              <span class="day"><%=@post.created_at.to_parsi.strftime " %d  " %></span>
              <span class="my"><%=@post.created_at.to_parsi.strftime " %B "%>,<%=@post.created_at.to_parsi.strftime " %Y "%></span>
            </div>
            <!-- %A %d %B -->
            <div class="avatar">
              <% if @post.user.present? and @post.user.profile.profile_photo.present?%>
              <%= link_to profile_path(@post.user.profile) do %>
              <%= image_tag( @post.user.profile.profile_photo_url)%>
              <% end %>
              <% else %>
              <%= image_tag "gardener.png" , :class => "white_container" %>
              <% end %>
            </div>
          </div>

          <div class="container">
            <div class="entry-featured">
              <%=image_tag (@post.image_url)%>
            </div>
            <div class="entry-content">
              <p class="make_right"><%=@post.title%></p>
              <%= simple_format @post.content, class: "simple_format_fa" %>
            </div>
          </div>
        </article>

        <div class="comments" id="comments" itemprop="interactionCount" content="UserComments:0">
          <% if @post.comments.any? %>
          <% @post.comments.each do |cmnt| %>
          <!--a comment box-->
          <%= render 'comments/comment' , :cmnt => cmnt %>
          <% end %>
          <% else %>

          <p class="zerocomments make_right">برای این سوال پاسخی داده نشده. شما اولین نفر باشید!</p>
          <!-- If comments are open, but there are no comments. -->
          <% end %>

          <div id="respond" class="comment-respond">
            <h3 id="reply-title" class="comment-reply-title make_right">
              نظر بدهید
            </h3>
            <div class="container" style="direction: rtl;">
              <p style="direction: rtl; float: right" class="make_right">
                <strong class="make_right">توجه:</strong>
                نظرات کاربران نشان دهنده دیدگاه شخصی نویسنده آنها است، و نه لزوما دیدگاه گلوگرام، به منظور خود داری از اهانت ، بی تربیتی و بیان مبتذل نظرات بدون اطلاع قبلی حذف می شوند.
              </p>

              <%= render 'comments/form' , {:object => @comment , :commentable => @post} %>


              <% if not user_signed_in? %>
              <p class="make_right">
                شما عضوی از گیاه داران نیستید، برای اینکه نظر بدهید، اینجا عضو شوید:
              </p>
              <p>

                <%= render "devise/registrations/form" , :resource => User.new %>

                <% end %>
              </div>

              <input type="hidden" id="ak_js" name="ak_js" value="1441730086571">
            </form>
          </div><!-- #respond -->
        </div>
      </section>
      <aside id="secondary-right" class="right-sidebar sidebar widget-area one-fourth" role="complementary">
        <ul>
          <!--user post control-->
          <li class="widget make_center">
            <div class="cwrap make_center">
              <h5 class="make_center">
                اطلاعات
              </h5>
              <%  if policy(@post).edit? %>
              <%= link_to 'ویرایش سوال', edit_post_path(@post , :plant_id=> @post.plant_id) , :class=>"button" %>
              <%end%>
              <% if policy(@post).destroy? %>
              <%= link_to 'حذف سوال', @post, method: :delete, data: { confirm: 'آیا از این کار اطمینان دارید؟' }, class: "button" %>
              <% end %>
              <br>
              <br>
              <% if @post.plant.present? %>
              <%= link_to "برو به صفحه گیاه" , plant_path(@post.plant.farsi_name) %>
              <% end %>
            </div>
          </li>

          <li class="widget widget-sidebar">		<!--cwrap-->
            <div class="cwrap make_center">
              <h5>سوالات اخیر</h5>
              <ul class="articles_latest" style="direction: rtl">
                <% Post.order("created_at DESC").first(10).each do |post| %>
                <li>
                  <%= link_to post_path(post) do %>
                  <% if post.plant.present? %>
                  <%= image_tag post.plant.avatars.first.url(:thumb) , :alt => post.title , :class=>"pull-right" %>
                  <% elsif post.image.present? %>
                  <%= image_tag post.image_url(:thumb) , :alt => post.title , :class=>"pull-right" %>
                  <% elsif post.user.profile.profile_photo.present? %>
                  <%= image_tag post.user.profile.profile_photo_url(:thumb) , :alt => post.title , :class=>"pull-right" %>
                  <% else %>
                  <%= image_tag 'gardener.png' , :alt => post.title , :class=>"pull-right" %>
                  <% end %>
                  <h6 class="make_right">
                    <%= post.title %>
                  </h6>
                  <% end %>
                </li>
                <% end %>
              </ul>
            </div>
            <!--//cwrap-->
          </li><li class="widget widget-sidebar">
            <div class="textwidget">
              <a href="themeforest.net/item/socialchef-social-recipe-wordpress-theme/6786673?ref=themeenergy" style="margin:0  -20px;float:left;">
                <img src="http://www.themeenergy.com/themes/wordpress/social-chef/wp-content/uploads/2015/01/banner.png"></a>
              </div>
            </li>
          </ul>
        </aside>
      </div>
    </div>
  </main>
