<!--item-->
<div class="entry pull-right <%if rel==3 %>one-third<%else%>one-fourth<%end%> wow fadeInLeft">
  <figure>
    <% if prod.default_image.present? %>
        <%= image_tag prod.default_image.path , style: "width: 100%;" %>
    <% else %>
        <img src="/assets/img12.jpg" alt="" />
    <% end %>
    <figcaption>
      <%= link_to product_path(prod.product_category.permalink, prod.permalink) do %>
          <i class="ico i-view">'
          </i>
            <span>
            <%= truncate(prod.short_description, :length => 140)  %>
            </span>
      <% end %>
    </figcaption>
  </figure>
  <div class="container make_center" style="height: 130px;">
    <div style="height: 40px;">
      <b>
        <%= link_to product_path(prod.product_category.permalink, prod.permalink) do %>
            <%= prod.name %>
        <% end %>
      </b>
    </div>
    <div class="actions" style="direction: rtl;">
      <div>
        <div class="difficulty">
          <i class="ico i-category"></i>
          <% cat = Shoppe::ProductCategorization.where(:product_id => prod.id).first.product_category %>
          <%= link_to cat.name , products_path(cat.permalink) %>
        </div>
        <span class="">
          <%=number_to_currency prod.price%>
        </span>
        <br>
        <%= link_to "بذار تو سبد", buy_product_path(prod.product_category.permalink, prod.permalink), :class => 'button btn-sm', :method => :post %>

        <!--<div class="comments"><i class="ico i-comments"></i><a href="recipe.html#comments">-->
        <!--0-->
        <!--</a></div>-->
      </div>
    </div>
    <!--<div class="">-->
    <!--<div class="one-half">-->
    <!--<span>-->
    <!--<i class="ico i-date">-->
    <!--</i>-->
    <!--<% cat = Shoppe::ProductCategorization.where(:product_id => prod.id).first.product_category %>-->
    <!--<%= link_to cat.name , products_path(cat.permalink) %>-->
    <!--</span>-->
    <!--</div>-->
    <!--<div class="one-half">-->
    <!--<%=number_to_currency prod.price%>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="excerpt make_center">-->
    <!--<p>-->
    <!--<%= prod.description %>-->
    <!--</p>-->
    <!--</div>-->
  </div>
</div>
<!--item-->