<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width" />

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%#= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>

  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.png' %>


  <%= render 'shared/header' %>
  <title style ="direction: rtl;">
    GoloGram
    |    <%= @page_title %>
  </title>
</head>
<body class="home">

  <% if notice %>
  <div id ="my_notice" class="notification">
    <%= notice %>
  </div>
  <% end %>

  <!--breadcrumbs-->
  <% if user_signed_in? %>
  <!-- <nav class="row">
    <ul>
      <li class="pull-right " style="width: 50%;margin-right: 26%;">
        <%=form_tag({controller: "/search" , action: "main_search" },method: "get" ) do%>
        <%=text_field_tag :query,nil,placeholder: "جستجوی گلوگرام" ,  autocomplete: :off , :class => "pull-right make_center",:style=>"width: 80% !important;width: 80% !important;
        height: 42px;border-radius: 0px;"%>
        <%= button_tag"جستجو" , :class=>"button search_commit" %>
        <% end %>
      </li>
    </ul>
  </nav> -->

  <% end %>

  <main class="main">

    <%= yield %>

  </main>

</body>

<% if not defined? @footer %>
<%= render 'shared/footer' %>
<% end %>

</html>

<script type="application/javascript">
$("#my_notice").delay(5000).show(10000).hide(1000);
</script>
